/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* { Box-sizing: Border-box }
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
    width: 100%;

}
.list-out{
    padding: 0;
    margin: 0;
}
.list{
    list-style: none;
    height: 20em;
}
.list h2{
    margin: 0 0 .25em;
}
.list-in{
  position: relative;
    z-index: 1;
    padding: .5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}
.list-in:hover{
    z-index: 10;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

hr{
    width: 100%;;
}

.top{
    background-color: #E0F7FA}
.film{
    background-color: #F9FBE7}
.top{
    background-color: #E8F5E9}
.actor{
    background-color: #FFF3E0}
.comp{
    background-color: #ECEFF1}
.dir{
    background-color: #FFEBEE}

/*.count:nth-of-type(4n){
    border: 1px solid red;
}*/
.clear-left{
    clear: left;
}
.col {position: relative;float: left;min-height: 1px; padding: 0 .5em;}.col-xs-12{width:8.33333333%;}.col-xs-11{width:9.09090909%;}.col-xs-10{width:10%;}.col-xs-9{width:11.11111111%;}.col-xs-8{width:12.5%;}.col-xs-7{width:14.28571429%;}.col-xs-6{width:16.66666667%;}.col-xs-5{width:20%;}.col-xs-4{width:25%;}.col-xs-3{width:33.33333333%;}.col-xs-2{width:50%;}.col-xs-1{width:100%;}.col-xs-2pc{width:2%;}.col-xs-5pc{width:5%;}.col-xs-7pc{width:7%;}.col-xs-10pc{width:10%;}.col-xs-12pc{width:12%;}.col-xs-15pc{width:15%;}.col-xs-18pc{width:18%;}.col-xs-20pc{width:20%;}.col-xs-23pc{width:23%;}.col-xs-25pc{width:25%;}.col-xs-27pc{width:27%;}.col-xs-28pc{width:28%;}.col-xs-30pc{width:30%;}.col-xs-33pc{width:33.33333%;}.col-xs-35pc{width:35%;}.col-xs-37pc{width:37%;}.col-xs-40pc{width:40%;}.col-xs-41pc{width:41.66666667%;}.col-xs-45pc{width:45%;}.col-xs-46pc{width:46%;}.col-xs-49pc{width:49%;}.col-xs-50pc{width:50%;}.col-xs-55pc{width:55%;}.col-xs-58{width:58.33333333%;}.col-xs-60pc{width:60%;}.col-xs-63pc{width:63%;}.col-xs-65pc{width:65%;}.col-xs-66pc{width:66.66666667%;}.col-xs-70pc{width:70%;}.col-xs-75pc{width:75%;}.col-xs-77pc{width:77%;}.col-xs-80pc{width:80%;}.col-xs-81pc{width:81%;}.col-xs-83pc{width:83.33%;}.col-xs-84pc{width:84%;}.col-xs-82pc{width:82%;}.col-xs-85pc{width:85%;}.col-xs-87pc{width:87%;}.col-xs-88pc{width:88%;}.col-xs-90pc{width:90%;}.col-xs-93pc{width:93%;}.col-xs-96pc{width:96%;}.col-xs-100pc{width:100%;}
  .v-align-parent,
  .v-align-p {
    display: table;
  }
  .v-align-parent .v-align-child,
  .v-align-p .v-align-child {
    display: table-cell;
    vertical-align: middle;
  }
  .v-align-parent .v-align-child.v-align-top,
  .v-align-p .v-align-child.v-align-top {
    vertical-align: top;
  }
  .v-align-parent .v-align-child.v-align-bottom,
  .v-align-p .v-align-child.v-align-bottom {
    vertical-align: bottom;
  }













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
