<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/netflix.js"></script>
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> -->
    <script src="js/angular.js"></script>

    <style>
    .net{color: #b80f17;}
    a.itunes{
        font-weight: lighter;
        text-decoration: none;
        color: #444;
    }
    a.itunes:hover{
        text-decoration: underline;
    }

    li{
        opacity: 1;
        transition : .2s;
    }
    .unavil{opacity: .5;}

    </style>

</head>
<body ng-app="dates" ng-controller="myCtrl">
    <div>
        <form class="container">
            <!-- <div class='field'>
                <label for="name">Search:</label>
                <input type="text" name="name" id="name" value=""/>
            </div>
 -->
            <div class='field col col-xs-1'>
                <h4>Category</h4>
                <label for="film">Film</label>
                <input type="checkbox"
                    name="film"
                    id="film"
                    ng-model="filterQueryFilm"
                    ng-init="filterQueryFilm = true"
                    value="film" />
                    &nbsp;

                <label for="dir">Director</label>
                <input type="checkbox"
                    name="dir"
                    id="dir"
                    ng-model="filterQueryDir"
                    ng-init="filterQueryDir = true"
                    value="dir" />
                    &nbsp;

                <label for="comp">Composer</label>
                <input checked type="checkbox"
                    name="comp"
                    id="comp"
                    ng-model="filterQueryComp"
                    ng-init="filterQueryComp = true"
                    value="comp" />
                    &nbsp;

                <label for="top">Topic</label>
                <input type="checkbox"
                    name="top"
                    id="top"
                    ng-model="filterQueryTop"
                    ng-init="filterQueryTop = true"
                    value="top" />
                    &nbsp;

                <label for="actor">Actor</label>
                <input type="checkbox"
                    name="actor"
                    id="actor"
                    ng-model="filterQueryActor"
                    ng-init="filterQueryActor = true"
                    value="actor" />
            </div>
            <!--<div>
                <h2><span>filterQueryFilm</span> <span>{{filterQueryFilm}}</span></h2>
                <h2><span>filterQueryDir</span> <span>{{filterQueryDir}}</span></h2>
                <h2><span>filterQueryComp</span> <span>{{filterQueryComp}}</span></h2>
                <h2><span>filterQueryTop</span> <span>{{filterQueryTop}}</span></h2>
                <h2><span>filterQueryActor</span> <span>{{filterQueryActor}}</span></h2>
            </div> -->

            <!-- <div class='field'>
                <label for="select-choice">Select Dropdown Choice:</label>
                <select name="select-choice" id="select-choice">
                    <option value="Choice 1">Choice 1</option>
                    <option value="Choice 2">Choice 2</option>
                    <option value="Choice 3">Choice 3</option>
                </select>
            </div>

            <div class='field'>
                <label for="textarea">Textarea:</label>
                <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
            </div> -->

            <div class='field'>
                <label for="iTunes">iTunes</label>
                <input type="checkbox"
                    name="iTunes"
                    id="iTunes"
                    ng-model="filterVendorItunes"
                    ng-init="filterVendorItunes = true"
                    value="iTunes" />

                <label for="Netflix">Netflix (US)</label>
                <input type="checkbox"
                    name="Netflix"
                    id="Netflix"
                    ng-model="filterVendorNetflix"
                    ng-init="filterVendorNetflix = true"
                    value="Netflix" />

                <label for="AmazonRental">Amazon Rental</label>
                <input type="checkbox"
                    name="AmazonRental"
                    id="AmazonRental"
                    ng-model="filterVendorAmazonRental"
                    ng-init="filterVendorAmazonRental = true"
                    value="AmazonRental" />

                <label for="AmazonDVDs">Amazon DVDs</label>
                <input type="checkbox"
                    name="AmazonDVDs"
                    id="AmazonDVDs"
                    ng-model="filterVendorAmazonDVDs"
                    ng-init="filterVendorAmazonDVDs = true"
                    value="AmazonDVDs" />
            </div>

        </form>
    </div>
    <div class="container">
        <div class="col col-xs-1">
            <hr>&nbsp;
        </div>
    </div>
    <ul id='list' class="container list-out">
        <!-- , 'clear-left' : $index % 4 === 0 } -->
        <!-- n.type -->
        <li class="col col-xs-4 col-md-8 list"
            ng-repeat="n in listOfFilms track by $index"
            ng-show="n.type === 'film'  && filterQueryFilm === true ||
                n.type === 'dir'  && filterQueryDir === true ||
                n.type === 'comp'  && filterQueryComp === true ||
                n.type === 'top'  && filterQueryTop === true ||
                n.type === 'actor'  && filterQueryActor === true">
            <div class="list-in" ng-class="n.type">
                <h2>{{n.title}}</h2>
                <span><a ng-href="{{n.link}}">Listen to Podcast</a></span><br>
                <span ng-show="!n.avil && n.type === 'film'">
                    <em>Not avilable on iTunes or Netflix</em>
                </span>
                <span class='net' ng-if="n.net"><strong>Netflix </strong></span>
                <span ng-if="n.itunes"><a class='itunes' ng-href="{{n.itunesUrl}}">iTunes</a></span>

                <p>{{n.desc}}</p>
            </div>
        </li>
    </ul>

    <script>
            var app = angular.module('dates', []);
            app.controller('myCtrl', function($scope, $http) {
                console.log('requesting data');
                $http.get('data.json')
                .then(function(res){
                    console.log('requested data');
                    $scope.listOfFilms = res.data;


                    angular.forEach($scope.listOfFilms, function(value, index){
                        if(value.type === "film"){
                            netflixroulette.createRequest({title: value.title}, function (resp) {
                                $scope.$apply(function () {
                                    value.net = true;
                                    value.avil = true;
                                });
                            });

                            var itunesTitle = value.title.split(' ').join('+');
                            $http.jsonp("https://itunes.apple.com/search?term=" + itunesTitle + "&country=ie&entity=movie", {
                                params: {
                                  'callback': 'JSON_CALLBACK',
                              }
                          }).success(function(data) {
                            console.log(data.results[0].trackViewUrl);
                            value.itunes = true;
                            value.avil = true;
                            value.itunesUrl = data.results[0].trackViewUrl;
                        });
                      }
                      if(value.type === "dir"){
                        // migt do some things here to show that the directors have done
                      }

                      $http.jsonp("https://itunes.apple.com/search?term=" + itunesTitle + "&country=ie&entity=movie", {
                        params: {
                          'callback': 'JSON_CALLBACK',
                      }
                  }).success(function(data) {
                    console.log(data.results[0].trackViewUrl);
                    value.itunes = true;
                    value.avil = true;
                    value.itunesUrl = data.results[0].trackViewUrl;
                });
              });
});

});


</script>
</body>
</html>
